html, body {
    font-family: 'Open Sans', sans-serif;
	color: #3F3F3F;
}

input[type=text], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 6px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[disabled] {
    background: #F0F0F0;
    cursor: not-allowed;
    transition: none;
}

a {
	text-decoration: none;
}

a:hover {
	color: #ef3939;
}

.toggle {
	display: none;
}

input[type="radio"].toggle:checked + label,
input[type="checkbox"].toggle:checked + label {
	box-shadow: inset 0 0 12px #000000;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.promobox {
	width: 32em;
	max-width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.promotext {
	font-size: 1.2em;
}

.promotext a, .promotext a:visited {
	color: #009;
}

.promotext a:hover {
	text-decoration: underline;
}

.instruction {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.hint {
	color: #777;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.postfixed {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.postfix {
    display: inline-block;
    margin-left: 0;
    background: #ddd;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0.5em 0.6em;
    box-sizing: border-box;
    vertical-align: middle;
	cursor: default;
}

.pure-button {
	border-radius: 6px;
}

.btn-group-inline {
    display: inline-block;
}

.btn-group {
    overflow: auto;
}

.btn-group .pure-button {
    border-radius: 0;
    float: left;
}

.btn-group .pure-button[disabled] {
    border-width: 1px;
}

.btn-group .pure-button:not(:first-child):not(:last-child) {
    margin-left: 0;
    margin-right: 0;
}

.btn-group .pure-button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.btn-group .pure-button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.btn-group-divided .pure-button:not(:last-child) {
    border-right: none;/*1px solid #ccc;*/
}

.pure-button {
    background: transparent;
    border: 1px solid #4d4d4d;
}

.pure-button[disabled] {
    border: 1px solid #4d4d4d;
}

.pure-button:hover {
    background: #333;
    color: #EEE;
}

.pure-button:focus {
    background-image: none;
}

.panel {
	margin: 0.5em;
	padding: 1em;
	background: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 6px;
}

.top-panel {
	width: 100%;
	overflow: auto;
    background: #f8f8f8;
    height: 50px;
	overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.left-panel {
	width: 25%;
	height: 100%;
	float: left;
	overflow: hidden;
	border-bottom-right-radius: 6px;
	/*border-right: 1px solid red;*/
}

.right-panel {
	float: left;
	width: 74%;
	height: 100%;
	/*border: 1px solid green;*/
}

.header-wrapper {
	height: 100%;
	overflow: hidden;
	width: 80%;
	max-width: 1170px;
	margin: 0 auto;
}

.logo {
	width: 25%;
	height: 100%;
	padding-top: 0.4em; /* To center the logo */
	text-align: center;
	font-size: 1.6em;
	float: left;
}

.logo-image {
	max-width: 200px;
}

.tabs {
	/*display: table-row;*/
	/*list-style: none;
	padding: 0;
	margin: 0;*/
	height: 100%;
}

.tabs__tab {
	/*list-style: none;
	display: table;
	float: left;
	height: 4em;
	text-align: center;
	white-space: normal;
	max-width: 13em;*/
	/*font-family: Verdana, Arial, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
	letter-spacing: 0;
	height: 100%;
	box-sizing: border-box;
}

.tabs__tab--active {
	border-bottom: 2px solid #ef3939;
}

.tabs__tab:not(:last-child) {
	/*border-right: 1px solid #999;*/
}

.tabs__link {
	/*display: table-cell;
	height: 100%;
	vertical-align: middle;
	*/
	color: #333;
	font-size: 1.2em;
	/*font-family: Verdana, Arial, sans-serif;*/
	text-decoration: none;
}

.tabs__link:visited:not(:hover) {
	color: #333;
}

.tabs__link:hover {
	background: inherit !important;
}

.mainmenu {
	height: 100%;
}

/* CLEARABLE INPUTS */

input[data-clearable]:not([disabled]) {
  background: #fff url(/assets/img/cross16x16.png) no-repeat right -16px center;
  padding-right: 24px;
  transition: background 0.4s;
}
input[data-clearable]:not([disabled]).clearable-x  {
	background-position: right 5px center;
}
input[data-clearable]:not([disabled]).clearable-hover-x {
	cursor: pointer;
	background-image: url(/assets/img/cross_highlighted16x16.png);
}
input[data-clearable]::-ms-clear {display: none; width:0; height:0;}

/* AUTH-STEAM */

.auth-steam {
	float: right;
	padding: 0.25em 0.5em 0 0;
}

/* MINIPROFILE */

.miniprofile {
	float: right;
	max-width: 40%;
	height: 100%;
	overflow: hidden;
	padding: 0.25em;
	padding-top: 0.1em;
	line-height: 1.13;
}

.miniprofile__column {
	float: left;
	padding: 0.25em;
}

.miniprofile__balance {
	color: #999;
	font-size: 0.8em;
}

.miniprofile__avatar {
	width: 32px;
	height: 32px;
	border-radius: 6px;
}

/* CHAT */

.chat {
	border-right: 1px solid #ddd;
}

.chat-messages {
	list-style: none;
	margin: 0 0 0.5em 0.5em;
	padding: 0.5em;
	height: 500px;
	overflow-y: scroll;
}

.chat-form {
	padding: 0.5em;
	background: #eee;
}

.chat-form__text {
	width: 100%;
}

.chat-message {
	font-size: 13px;
	margin: 0.5em 0;
}

.chat-message__avatar {
	float: left;
	height: 28px;
	width: 28px;
	overflow: hidden;
	border-radius: 6px;
	margin-right: 0.5em;
	margin-top: 0.23em;
}

.chat-message__avatar-picture {
	width: 100%;
	height: 100%;
	
}

.chat-message__name {}

.chat-message__colon {
	color: #AAA;
}

.chat-message__text {
	padding-left: 28px;
	color: #666;
}

/* ROULETTE */
.btn-bet {
    width: 90%;
	margin: 0 auto;
    color: white;
    font-size: 1.4em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.33) 0px 2px 5px 0px;
}

.btn-bet:active {
	box-shadow: none;
}

.btn-bet-red {
    background-color: #C03838;
	background-image: -webkit-linear-gradient(0deg, #C74F4A, #B72F2F);
	background-image: -moz-linear-gradient(0deg, #C74F4A, #B72F2F);
	background-image: -o-linear-gradient(0deg, #C74F4A, #B72F2F);
	background-image: linear-gradient(0deg, #C74F4A, #B72F2F);
}
.btn-bet-red:hover {
    background: #AA2233;
}
.toggle:checked + .btn-bet-red:hover {
    background-color: #C03838;
	background-image: -webkit-linear-gradient(0deg, #C74F4A, #B72F2F);
	background-image: -moz-linear-gradient(0deg, #C74F4A, #B72F2F);
	background-image: -o-linear-gradient(0deg, #C74F4A, #B72F2F);
	background-image: linear-gradient(0deg, #C74F4A, #B72F2F);
}

.btn-bet-zero {
	background-color: #67AB59;
    background-image: -webkit-linear-gradient(0deg, #67AB59, #50A549);
    background-image: -moz-linear-gradient(0deg, #67AB59, #50A549);
    background-image: -o-linear-gradient(0deg, #67AB59, #50A549);
    background-image: linear-gradient(0deg, #67AB59, #50A549);
}
.btn-bet-zero:hover {
    background: #249939;
}
.toggle:checked + .btn-bet-zero:hover {
	background-color: #67AB59;
    background-image: -webkit-linear-gradient(0deg, #67AB59, #50A549);
    background-image: -moz-linear-gradient(0deg, #67AB59, #50A549);
    background-image: -o-linear-gradient(0deg, #67AB59, #50A549);
    background-image: linear-gradient(0deg, #67AB59, #50A549);
}

.btn-bet-black {
    background-color: #555;
	background-image: -webkit-linear-gradient(0deg, #555, #4B4B4B);
	background-image: -moz-linear-gradient(0deg, #555, #4B4B4B);
	background-image: -o-linear-gradient(0deg, #555, #4B4B4B);
	background-image: linear-gradient(0deg, #555, #4B4B4B);
}
.btn-bet-black:hover {
    background: #333;
}
.toggle:checked + .btn-bet-black:hover {
    background-color: #555;
	background-image: -webkit-linear-gradient(0deg, #555, #4B4B4B);
	background-image: -moz-linear-gradient(0deg, #555, #4B4B4B);
	background-image: -o-linear-gradient(0deg, #555, #4B4B4B);
	background-image: linear-gradient(0deg, #555, #4B4B4B);
}

.roulette__bet-controls {
	vertical-align: bottom;
}

.roulette__bet-sum {
	display: inline-block;
    margin-top: 0.5em;
}

.roulette__bet {
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 1em;
	margin: 1em;
}

.roulette__info {
    border-bottom: 1px solid #eee;
}

.roulette__balance {
    margin-top: 0;
}

.roulette__bets {
    text-align: left;
    width: 100%;
}

.roulette__wheel-container {
	position: relative;
	border: 1px solid #FFF;
	border-radius: 40px;
	overflow: hidden;
	text-align: center;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.roulette__wheel-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: inset 0 3px 10px #000000;
	border-radius: 40px;
	z-index: 10;
}

.roulette__wheel {
	overflow: visible;
	white-space: nowrap;
	text-align: left;
}

.roulette__slot {
	display: inline-block;
	width: 80px;
	font-size: 1.6em;
	color: #EEE;
	text-align: center;
	padding-top: 23px;
	padding-bottom: 23px;
}


.roulette__slot--red {
	background: #BD524D;
}

.roulette__slot--zero {
	background: #67AB59;
}

.roulette__slot--black {
	background: #444;
}

.roulette__result {
	margin: 0.25em auto;
	max-width: 100%;
	font-size: 1.2em;
	color: #777;
	padding-left: 1em;
	border-bottom: 1px solid #ddd;
}

.roulette__result-chevron {
	background: url('/assets/img/chevron-up-w70.png') no-repeat;
	margin: 0.25em auto;
	margin-bottom: 0;
	width: 70px;
	height: 24px;
}

.roulette__result-text {
	/*display: inline-block;*/
	margin: 0.5em auto;
}

.roulette__result-number {
	color: #333;
}

.roulette__countdown {
	width: 95%;
	margin: 1em auto;
	border-radius: 6px;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.roulette__countdown-shadow {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset rgba(0, 0, 0, 0.33) 0px 2px 5px 0px;
}

.roulette__countdown-bar {
	background: #eee;
	margin: 0.5em auto 0.5em auto;
	padding: 1em 0;
	/*width: 80%;*/
	margin: 0;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.roulette__countdown-fill {
	margin: 0;
	background: #BD524D;
	color: #fff;
	width: 100%;
	padding: 1em 0;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	transition: width 1s;
}

/* LAST ROLLS */
.roulette__last-results {
	width: 40%;
	margin: 1em auto;
	text-align: center;
	position: relative;
}

/* TODO: Make beautiful or remove */
/*
.roulette__last-results:after {
    content: ' ';
    height: 100%;
    left: 35%;
    right: 35%;
    position: absolute;
    background: -webkit-linear-gradient(left, 
		#f8f8f8 5%, 
		rgba(0,0,0,0) 20%, 
		rgba(0,0,0,0) 80%, 
		#f8f8f8 95%
	);
}*/

.roulette__last-result-item {
	font-size: 1.2em;
	border-radius: 6px;
	display: inline-block;
	width: 48px;
	height: 36px;
    color: #EEE;
    padding-top: 0.5em;
    padding-bottom: 0;
	overflow: hidden;
}
.roulette__last-result-item--red {
	background: #BD524D;
}
.roulette__last-result-item--black {
	background: #444;
}
.roulette__last-result-item--zero {
	background: #67AB59;
}

/* INVENTORY (DEPOSIT & WITHDRAW) */
.inventory {
    overflow: auto;
    width: 25.1em;
}

.inventory__row {
    
}

.inventory__cell {
    width: 5em;
    height: 5em;
    box-sizing: border-box;
    border: 1px solid #EEE;
    float: left;
}