html, body {
    font-family: 'Open Sans', sans-serif;
}

input[type=text], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
	text-decoration: none;
}
a:hover {
	color: #ef3939;
}

.bigtext {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.postfixed {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.postfix {
    display: inline-block;
    margin-left: 0;
    background: #ddd;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0.5em 0.6em;
    box-sizing: border-box;
    vertical-align: middle;
}

.btn-group-inline {
    display: inline-block;
}

.btn-group {
    overflow: auto;
}

.btn-group .btn {
    border-radius: 0;
    float: left;
}

.btn-group .btn:not(:first-child):not(:last-child) {
    margin-left: 0;
    margin-right: 0;
}

.btn-group .btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group-divided .btn:not(:last-child) {
    border-right: none;/*1px solid #ccc;*/
}

.btn, .pure-button {
    background: transparent;
    border: 1px solid #4d4d4d;
}

.btn:hover, .pure-button:hover {
    background: #333;
    color: #CCC;
}

.btn:focus, .pure-button:focus {
    background-image: none;
}

.panel {
	margin: 0.5em;
	padding: 1em;
	background: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.top-panel {
	width: 100%;
	overflow: auto;
	/*border-bottom: 1px solid blue;*/
    background: #f8f8f8;
    
    border-bottom: 1px solid #ddd;
}

.left-panel {
	width: 25%;
	height: 100%;
	float: left;
	/*border-right: 1px solid red;*/
}

.right-panel {
	float: left;
	width: 74%;
	height: 100%;
	/*border: 1px solid green;*/
}

.logo {
	width: 25%;
	/*height: 64px;*/
	text-align: center;
	padding-top: 0.25em;
	font-size: 1.6em;
	float: left;
}

.tabs {
	/*display: table-row;*/
	/*list-style: none;
	padding: 0;
	margin: 0;*/
}

.tabs__tab {
	/*list-style: none;
	display: table;
	float: left;
	height: 4em;
	text-align: center;
	white-space: normal;
	max-width: 13em;*/
	/*font-family: Verdana, Arial, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
	letter-spacing: 0;
}

.tabs__tab:not(:last-child) {
	/*border-right: 1px solid #999;*/
}

.tabs__link {
	/*display: table-cell;
	height: 100%;
	vertical-align: middle;
	*/
	color: #333;
	font-size: 1.2em;
	/*font-family: Verdana, Arial, sans-serif;*/
	text-decoration: none;
}

.tabs__link:visited:not(:hover) {
	color: #333;
}

.tabs__link:hover {
	background: inherit !important;
}

.mainmenu-toggle {
    float: right;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}

/* CHAT */

.chat-messages {
	list-style: none;
	margin: 0 0 0.5em 0.5em;
	padding: 0.5em;
	height: 500px;
}

.chat-form {
	padding: 0.5em;
	background: #eee;
}

.chat-form__text {
	width: 100%;
}

/* ROULETTE */
.btn-bet {
    width: 5em;
    color: white;
    font-size: 1.6em;
}

.btn-bet-red {
    background: #FF2222;
}
.btn-bet-zero {
    background: green;
}
.btn-bet-black {
    background: #222;
}

.roulette__bet-sum {
    margin-top: 0.5em;
}
.roulette__info {
    border-bottom: 1px solid #eee;
}

.roulette__balance {
    margin-top: 0;
}

.roulette__bets {
    text-align: left;
    width: 100%;
}