<div class="chat">
	<ul class="chat-messages">
	{{#each messages}}
		<li class="chat-message">
			<span class="chat-message__name">{{authorName}}</span>: <span class="chat-message__text">{{text}}</span>
		</li>
	{{/each}}
	</ul>
	<div class="chat-form pure-form">
		<input type="text" value="{{chatMessage}}" on-enter="chatSend" placeholder="Введите текст сообщения..." class="chat-form__text">
		<!--<input type="button" on-click="chatSend" class="chat-form__submit" value="Отправить">-->
	</div>
</div>